<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    http://www.springframework.org/schema/aop   
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">  
  
	<aop:aspectj-autoproxy> </aop:aspectj-autoproxy>  

	<bean name = "triangle" class = "org.SpringAOP.demo.model.Triangle">
		<property name="name" value = "Triangle Name"></property>
	</bean>
	
	<bean name = "circle" class = "org.SpringAOP.demo.model.Circle">
		<property name="name" value = "Circle Name"></property>
		<property name="radius" value = "20"></property>
	</bean>
	
	<bean name = "shapeService" class = "org.SpringAOP.demo.Service.ShapeService" autowire="byName">
	</bean>
	<bean name = "loggingAspect" class = "org.SpringAOP.demo.aspect.LoggingAspect"></bean>
</beans>