<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SimpleServletProject</display-name>
  <servlet>
	  <servlet-name>xmlServlet</servlet-name>
	  <servlet-class>com.eample.firstservlet.XmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>xmlServlet</servlet-name>
  	<url-pattern>/xmlServletPath</url-pattern>
  </servlet-mapping>
  <servlet>
	  <servlet-name>SimpleServlet</servlet-name>
	  <servlet-class>org.eample.firstservlet</servlet-class>
	  <init-param>
	  	<param-name>defaultValue</param-name>
	  	<param-value>John Doe</param-value>
	  </init-param>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
</web-app>